[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C = UA
ST = Kyiv
L = Kyiv Region
O = MyOrganization_KNT125m
OU = Scherbina
CN = 192.168.1.108

[v3_ca]
basicConstraints = critical, CA:TRUE
keyUsage = critical, keyCertSign, cRLSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
subjectAltName = @alt_names

[v3_server]
basicConstraints = critical, CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.1.108
